aws_region   = "us-east-1"
aws_profile  = "Fatin"
project_name = "nt"

# ── Network ──────────────────────────────────────────────────
vpc_cidr                 = "10.0.0.0/16"
public_subnet_cidrs      = ["10.0.1.0/24", "10.0.2.0/24"]
allowed_ssh_cidr         = "103.187.95.64/32"   # Replace!

# ── Compute ──────────────────────────────────────────────────
instance_type    = "t3.micro"
key_name         = "instance_prac_pem"
root_volume_size = 40

# ── Database ─────────────────────────────────────────────────
db_name           = "teamdb"
db_username       = "nt_admin"
# db_password   →  export TF_VAR_db_password="YourStrongPass1!"
# allocated_storage = 20
